.Settings-wrapper {
    width: 100%;
    margin-top: 5vh;
}

.Settings-title {
    width: 100%;
    color: var(--title-text-color);
    font-size: 2.35vh;
    text-align: start;
    padding-bottom: 2vh;
    border-bottom: 1px solid rgb(21, 21, 22);
}

.Settings-label-text {
    color: var(--title-text-color);
    margin-left: 1rem;
    font-size: 2vh;
    min-width: 12vh;
    text-align: start;
}

.Settings-element {
    min-height: 5vh;
}

.Settings-data-text {
    color: var(--data-text-color);
    width: 100%;
    text-align: start;
    font-size: 1.8vh;
    padding: 0;
    transition: 0.25s;
}

.Settings-data-locked {
    color: #8d8d91;
}

.Settings-buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.Settings-button {
    width: 100%;
    margin: 1rem;
    margin-top: 4vh;
}

.Settings-modal-menu {
    width: 50vh;
    height: 27vh;
}

.Settings-modal-error-message {
    width: 100%;
    margin: 1vh 0 0 0;
    text-align: start;
}